*{
    padding: 0;
    margin: 0;
}
 html{

    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;

}
:root{
      --bg-padrao:#E7E7E7;  
      --laranja-padrao:#C37B32;
      --bege-padrao:#986E0A;
      --cinza-padrao:#272B2C;
}

/* MOBILE */
.nav-desktop{
    display: none;
}


.area-burguer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.356);
}

.burguer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    height: max-content;
    cursor: pointer;
}
.barra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cinza-padrao);
    width: 10vw;
    height: 1.5vw;
    margin: .5vw;
}
.nav-mobile li{
    padding: 3vh 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-mobile a{
    text-decoration: none;
    padding: 2%;
    color: var(--cinza-padrao);
    transition: all .5s ease;
    font-size: 4vw;
}
.nav-mobile a:hover {

    color: #818c8f;

}

                /* TOPO */

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-padrao);
    background-size: cover;
    background-position: bottom;
    
}
.topo img{
    width: 100%;
}
.background{
    width: 100%;
    height: 10%;
    background-color:var(--bege-padrao);
}
.caixa-topo{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10vh;
    padding: 2vh;
    width: 80vw;
    height: 100%;
}
.caixa-topo h2{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-self: center;
    height: auto;
    width: auto;
    padding: 2%;
    text-align: center;
    font-size: 6vw;
    font-weight: 900;
    word-spacing: 0.2em;
    color: var(--laranja-padrao);

}
.caixa-topo p{
    color: var(--cinza-padrao);
    padding: 4%;
    font-size: 4vw;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
}


.btn{
    border: 2px solid #272B2C;
    border-radius: 2px;
    padding: 3vw;
    text-decoration: none;
    color: var(--cinza-padrao);
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.btn:hover{
    border: 1px solid #272B2C;
    background-color: var(--cinza-padrao);    
    color: white;

}
                /*SERVICOS*/
.servicos{
    background-color: var(--bg-padrao);
    padding-bottom: 10vw;
}

.caixa-servicos{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caixa-icon{
    display: flex;
    width: 80%;
    
}
.caixa-icon img{
    width: 15vw;
}

.caixa-servicos h2{
    
    font-size: 6vw;
    color: var(--cinza-padrao);
    width: 80%;
    font-weight: 600;
}

.caixa-servicos p{
    padding-top: 3vw;
    font-size: 3vw;
    color: var(--cinza-padrao);
    width: 80%;
  
}

            /*OQUE FAZEMOS*/   
.oque-fazemos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/src/img/BG4.jpg);
    background-size: auto;
    height: auto;
    padding-bottom: 10vh;
}

.oque-fazemos h2{
    padding: 5vh 0 ;
    color: white;
    text-align: center;
    font-size: 8vw;

}
.oque-fazemos p{
   
    padding-bottom: 3vw;
    font-weight: 200;
    color: white;
    font-size: 4vw;
}
.caixa-oque-fazemos{
    
    width: 70vw;
    height: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid ;
    margin: 2vw;
    background-color:white;
    border-color: transparent;
    padding: 3vh;
}

.caixa-oque-fazemos img{

    width: 45vw;
    height: 45vw;
    overflow: hidden;
    background-size: cover;
    border-radius: 50%;
}
.caixa-oque-fazemos h2{
    font-size: 6vw;
    font-weight: 300;
    color: var(--cinza-padrao);
}

            /* CONTRATACAO*/
.contratacao{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10vh;
}
.contratacao h2{
    width: 100%;
    color: var(--cinza-padrao);
    text-align: center;
    font-weight: 800;
    font-size: 6vw;
    background-color: var(--laranja-padrao);
    width: 70vw;
    text-align: left;
    padding: 1vw 0 1vw 8vw ;
    
}
.contratacao p {
    text-align: center;
    color: var(--cinza-padrao);
    font-weight: 400;
    font-size: 4vw;
    width: 70vw;
    padding: 3vh;
    
}

            /*CAIXA TRABALHOS*/
.trabalhos{
    background-image: linear-gradient(to bottom, transparent, transparent 80%, #272B2C 50%, #272B2C);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}
.caixa-trabalhos{
    background-color: var(--laranja-padrao);
    width: 70%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   
.caixa-trabalhos h2{
    width: 100%;
    color: white;
    padding-left:5vw;
    padding: 4vw;
    width: 80%;
    text-align: center;
    font-size: 5vw;
    font-weight: 900;
}
.caixa-trabalhos p {
    color: var(--cinza-padrao);
    width: 80%;
    padding-left:5vw;
    font-size: 3.5vw;
    font-weight: 300;
    padding: 3%;
}

.trabalhos-pic{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cinza-padrao);
    padding-bottom: 10vh;

}
.trabalhos-pic img{
     
   width: 70%;
   height: 70vw;
   background-size: cover;
}

.caixa2-trabalhos{
   
    background-color: white;
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}
.caixa2-trabalhos h2{
    padding: 1vw;
    text-align: center;
    font-size: 4vw;
    padding-bottom: 5vw;
    color: var(--cinza-padrao);
    font-weight: 800;
}

        /*QUEM-SOMOS*/
.quem-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cinza-padrao);

} 
.quem-somos h2{
    padding: 2vh;
    color: var(--cinza-padrao);
    font-size: 6vw;
    display: flex;
    text-align: left;
    width: 80%;
    background-color: var(--laranja-padrao);
}
.quem-somos p{
    color: white;
    font-size: 3vw;
    display: flex;
    text-align: left;
    width: 80%;
    padding-top: 4vw;
    padding-bottom: 4vh;
    font-weight: 300;
    line-height:2;
}


footer{

    background-color: var(--laranja-padrao);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:6vw 0;
}

footer h3 {
    text-align: center;
    font-size: 3vw;
    font-weight: 300;
    width: 90%;
}
.footer-abaixo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-esrquerdo{
    width: 40vw;
    padding: 4vw; 
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.footer-esrquerdo p{
    font-size: 3vw;
    text-align:right;
    padding-bottom: 3vw;
}
.footer-direito{
    
    width: 40vw;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding: 4vw;   
}
.footer-direito p{
    font-size: 3vw;
    text-align:right;
    padding-bottom: 3vw;
}

/* DESKTOP */

@media (min-width: 768px){
    .nav-mobile{
        display: none;
    }
    
    .nav-desktop{
        display: flex;
    }

    .nav-desktop ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1vw;
        list-style: none;
    }
    .nav-desktop a {
        text-decoration: none;
        color: var(--cinza-padrao);
        padding: 0 2vw;
        transition: all .5s ease-in-out;
    }

    .nav-desktop a:hover{
        color: var(--laranja-padrao);
    }

    
.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
.caixa-topo{
    height: 100%;
    width: 50%; 
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caixa-topo h2{
    border-top:2px solid var(--laranja-padrao);
    border-bottom:2px solid var(--laranja-padrao);
    font-size: 4vw;
    padding: 1vw 10%;
    width: 100%;
    font-weight: 800;
    letter-spacing:1.5px;
   
    
}
.caixa-topo p{
    font-size: 1.4vw;
    padding:  5vw 1% ;
    
}
.topo img{
    display: flex;
    justify-content:flex-end;
    align-items: end;
    width: 45%;
    background-size: cover;
}

.btn{
    border: 2px solid #272B2C;
    border-radius: 2px;
    padding: 1.3vw;
    text-decoration: none;
    color: var(--cinza-padrao);
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.btn:hover{
    border: 1px solid #272B2C;
    background-color: var(--cinza-padrao);    
    color: white;

}
.oque-fazemos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: top;


}
.area-oque-fazemos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.topo-oque-fazemos h2{
    font-size: 3vw;
    padding-bottom: 0;
}
.topo-oque-fazemos p{
    font-size: 2vw;
}
.caixa-oque-fazemos{

    background-color: white;
    width: 20vw;
    height: 25vw;
    margin: 1vw;
    padding: 0.1vw;
}
.topo-oque-fazemos{
    padding: 5vh;
}
.topo-oque-fazemos h2{

    background-color: var(--laranja-padrao);
    margin-top: 2vw;
    padding: 1vw 5vw;
    width: 70%;
}
.topo-oque-fazemos p{

    background-color: white;
    color: var(--cinza-padrao);
    padding: 1vw 5vw;
    width: 70%;
    font-size: 1.5vw;
    font-weight: 400;

}
.caixa-oque-fazemos h2{
    font-size: 2vw;
}
.caixa-oque-fazemos img{
    height: 15vw;
    width: 15vw;
}

         /*AREA SERVICOS*/
 .servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
 }        
 .area-servicos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
 }    
 .area-servicos h2 {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    width: 50%;
    text-align: center;
 }   
.caixa-icon{
    width: 5%;
    padding-right:5vw ;
    padding-left: 2vw;
}
.caixa-servicos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.caixa-servicos h2{
    font-size: 3vw;
    width: 70%;
}
.caixa-servicos p{
    padding: 1vw;
    font-size: 1.1vw;
}

.contratacao h2{
    
    font-size: 3vw;
    width: 40%;
}
.contratacao p{
  
    font-size: 1.8vw;
    width: 40%;
    padding: 4%;

}

                /*TRABALHOS*/
.trabalhos{

justify-content: center;
align-items: center;
display: flex;

}
.caixa-trabalhos{
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trabalhos h2{
    padding:  6vw 1vw 0 1vw;
    font-size: 2vw;
}

.trabalhos p{
    padding-top: 1vw;
    font-size: 1.5vw;
    font-weight: 400;
    width: 90%;   
}
.trabalhos-pic img{
    width: 30%;
    height: auto;
}

.caixa2-trabalhos{
    width: 26%;
}
.caixa2-trabalhos h2{
    font-size: 1.8vw;
    padding-bottom: 1.5vw;
}
            /* QUEM SOMOS */
.quem-somos{
    
    padding-bottom: 10vw;
}
.quem-somos h2{
    margin-bottom: 3vw;
    width: 90%;
    font-size: 2vw;
}
.quem-somos p{
    width: 90%;
    font-size: 1.2vw;
    padding: 1vw;
}
footer{
    padding: 1%;

}
.footer-abaixo{
    padding: 0;
   
    height: auto;
}
.footer-esrquerdo p{
    font-size: 1vw;
    
    padding: 0;
}
.footer-direito p{
    font-size: 1vw;
    
    padding: 0;
}
footer h3{
   
    padding: 0;
    font-size: 1.8vw;
}
}